<%- include('includes/head') %>
<link rel="stylesheet" href="/css/styles.css" />
<div class="navbar-custom">
  <% if (user) { %>

  <div
    class="user-container d-flex align-items-center justify-content-between w-100"
  >
    <!-- Avatar -->
    <div class="user-avatar d-flex align-items-center">
      <img
        src="/Image/avatar.png"
        alt="<%= user.username %>"
        class="rounded-circle"
        width="70"
      />
    </div>

    <!-- Informações do Usuário -->
    <div class="user-info">
      <h4 class="mb-0"><%= user.username %></h4>
      <p class="mb-0"><%= user.email %></p>
    </div>

    <!-- Título Central -->
    <div class="user-title text-center flex-grow-1">
      <h1 class="mb-0 fw-bold"><strong>MyAgenda</strong></h1>
    </div>

    <!-- Botão de Logout -->
    <div class="user-logout">
      <a class="nav-link text-white" href="/login/logout">Sair</a>
    </div>
  </div>

  <% } else { %>
  <div class="user-info">
    <a class="nav-link ms-auto text-white" href="/login/index">Entrar</a>
  </div>
  <div class="user-info">
    <h1 class="mb-0 fw-bold"><strong>MyAgenda</strong></h1>
  </div>

  <% } %>
</div>

<div class="agenda-container">
  <!-- Barra lateral com categorias -->
  <aside class="sidebar">
    <% if (user) { %>
    <ul class="categories">
      <li class="item active" data-categoria="todos">Todos os Contatos</li>
      <li class="category-green" data-categoria="Melhores Amigos">
        Melhores Amigos
      </li>
      <li class="category-blue" data-categoria="Trabalho">Trabalho</li>
      <li class="category-purple" data-categoria="Amigos da Faculdade">
        Amigos da Faculdade
      </li>
      <li class="category-gray" onclick="window.location.href='/contato/index'">
        <a class="nav-link" href="/contato/index">+</a>
      </li>
    </ul>
    <% } %> <%- include('includes/messages') %>
  </aside>

  <!-- Lista de contatos -->
  <main class="contacts-list">
    <% if (user) { %>
    <div class="contacts">
      <% if (contatos.length > 0) { %> <% contatos.forEach(contato => { %>
      <div class="contact-card" data-categoria="<%= contato.categoria %>">
        <div class="contact-card-img">
          <img
            src="/Image/avatar.png"
            alt="<%= contato.nome %>"
            class="user-avatar d-flex align-items-center"
          />
        </div>
        <div class="contact-card-info">
          <div class="contact-info">
            <div class="info-block-nome">
              <p>
                <strong>Nome:</strong><br />
                <%= contato.nome %>
              </p>
            </div>
            <div class="info-block-contato">
              <p>
                <strong>Contato:</strong><br />
                <%= contato.telefone %>
              </p>
            </div>
            <div class="info-block-email">
              <p>
                <strong>E-mail:</strong><br />
                <%= contato.email %>
              </p>
            </div>
          </div>
        </div>

        <div class="contact-actions-spam">
          <span
            class="categoria-badge <%= contato.categoria === 'Melhores Amigos' ? 'green' : contato.categoria === 'Trabalho' ? 'blue' : contato.categoria === 'Amigos da Faculdade' ? 'purple' : 'gray' %>"
          >
            <%= contato.categoria %>
          </span>
        </div>
        <div class="contact-actions">
          <div class="contact-actions-editar">
            <a href="/contato/index/<%= contato._id %>" class="btn btn-edit"
              >EDITAR</a
            >
          </div>
          <div class="contact-actions-excluir">
            <a
              href="/contato/delete/<%= contato._id %>"
              class="btn btn-sm btn-danger"
              >EXCLUIR</a
            >
          </div>
        </div>
      </div>
      <% }); %> <% } else { %>
      <div class="alert alert-info">Nenhum contato cadastrado ainda.</div>
      <% } %>
    </div>
    <% } else { %>
    <div class="alert alert-warning">Faça login para ver seus contatos</div>
    <% } %>
  </main>
</div>

<%- include('includes/footer') %> <% if (user) { %>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const categorias = document.querySelectorAll('.categories li');
    const contatos = document.querySelectorAll('.contact-card');

    categorias.forEach((categoria) => {
      categoria.addEventListener('click', function () {
        categorias.forEach((item) => item.classList.remove('active'));
        this.classList.add('active');

        const categoriaSelecionada = this.getAttribute('data-categoria');
        contatos.forEach((contato) => {
          const contatoCategoria = contato.getAttribute('data-categoria');
          contato.style.display =
            categoriaSelecionada === 'todos' ||
            contatoCategoria === categoriaSelecionada
              ? 'flex'
              : 'none';
        });
      });
    });
  });
</script>
<% } %>
